.pie {
  background-color: palevioletred;
  font-size: 30px;

  h2 {
    span {
      color: rgb(227, 192, 192);
    }
  }

  div {

      h2 {

      }
      
      a {
      margin-right: 10px;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}